body {
	/*background: url("images/whitey.png") repeat;*/
	/*background: url("images/gridme.png") repeat;*/
}
.navbar-default {
    /* border-color: #faebcc !important; */
    /* background-image: linear-gradient(#FFFFFF, #F1F1F1 60%, #EAEAEA) !important; */
    border-color: #080808 !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.075), rgba(254, 255, 253, 0.37) 60%, #faccd9) !important;
}
.palletup {
	border-top: 2px solid #000 !important;
	border-left: 2px solid #000 !important;
	border-right: 2px solid #000 !important;
	width: 120px !important;
	height: 80px !important;
}
.palletdown {
	border-bottom: 2px solid #000 !important;
	border-left: 2px solid #000 !important;
	border-right: 2px solid #000 !important;
	width: 120px !important;
	height: 80px !important;
}